# Environment
.venv
.vscode

# Python
*__pycache__/
*.pyc
*.pyo
*.py.orig
*__init__.py

# VIVADO
*.cache
*.hbs
*.hw
*.ip_user_files
*.runs
*.sim
*.xpr
*.dcp
*bd/
*.out

# Documents
*Consigna.pdf
*Consignas.pdf